.main__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.progress_bur, .number_question, .question, .help_text {
    height: 20px;
    width: 100%;
}
.number_question{
    height: 14vh;
    margin: 10px auto 0;
}
.question{
    height: 45vh;
}
.question p{
    transition: 600ms;
}
.help_text{
    position: relative;
    height: 40vh;
}
.help_text span{
    z-index: 0;
    position: absolute;
}
.locker__wrapper{
    padding: 0 2% 25%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    filter: blur(4px);
    height: 100%;
    width: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.locker__wrapper p{
    transition: 700ms;
    /*text-shadow: 0 0 0 black, 0 0 0em black;*/
}
.locker{
    /*display: none;*/
    position: absolute;
    top: 10%;
    left: calc(50% - 39px);
    background-image: url("../icons/icons8-private-lock-100.png");
    background-repeat: no-repeat;
    opacity: 0;
    width: 100px;
    height: auto;
}
.lockerP{
    /*display: none;*/
    opacity: 0;
    position: absolute;
    /*top: 100px;*/
    top: -11%;
    left: calc(50% - 50px);
}
.lockerSpan{
    opacity: .6;
    position: absolute;
    top: 133px;
    left: calc(50% - 24px);
}




.navigation {
    position: fixed;
    bottom: 3%;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    cursor: pointer;
    height: 62px;
    width: 62px;
    margin: 0 10%;
    border: 3px white solid;
    border-radius: 62px;
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position-y: 5px;
    color: white;
    text-align: center;
    vertical-align: center;
    line-height: 58px ;
    transition: 700ms;
}
.button h2{
    transition: 700ms;
}
.button2 {
    display: none;
    opacity: 0;
    background-image: url("../icons/icons8-удалить-48.png");
}

/*Task Number*/
.number_question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.circle{
    text-align: center;
    vertical-align: center;
    line-height: 48px;
    margin: 5% auto 1%;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: mediumseagreen;
}
.circle__sub{
    margin: 0 auto;
    width: fit-content;
}

/*question*/
.question, .help_text{
    padding: 7% 2% 0;
}
/*Finish*/
.winnerImg{
    width: 90px;
    height: auto;
}
.winner{
    margin: 40% auto;
    text-align: center;
}

/*Progress bur*/
.progress_bur{
    display: flex;
}
.itemBurIn{
    height: 20px;
    width: 20px;
    border-style: inset;
    /* border-left: 1px black solid; */
    /* border-bottom: 1px black solid; */
    border-radius: 50%;
    margin: 2px auto;
}

