.main__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.progress_bur, .number_question, .question, .help_text {
    height: 1vh;
    width: 100%;
}
.number_question{
    height: 15vh;
}
.question{
    height: 42vh;
}
.question p{
    transition: 600ms;
}
.help_text{
    height: 38vh;
}

.navigation {
    position: fixed;
    bottom: 3%;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    cursor: pointer;
    height: 62px;
    width: 62px;
    margin: 0 10%;
    border: 3px white solid;
    border-radius: 62px;
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position-y: 5px;
    color: white;
    text-align: center;
    vertical-align: center;
    line-height: 58px ;
    transition: 700ms;
}
.button h2{
    transition: 700ms;
}
.button2 {
    display: none;
    opacity: 0;
    background-image: url("../icons/icons8-удалить-48.png");
}

/*Task Number*/
.number_question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.circle{
    text-align: center;
    vertical-align: center;
    line-height: 28px;
    margin: 0 auto;
    width: 33px;
    height: 33px;
    border-radius: 33px;
}
.circle__sub{
    margin: 0 auto;
    width: fit-content;
}

/*question*/
.question, .help_text{
    padding: 2% 2% 0;
}
/*Finish*/
.winnerImg{
    width: 90px;
    height: auto;
}
.winner{
    margin: 40% auto;
    text-align: center;
}

/*Progress bur*/
.progress_bur{
    display: flex;
}
.itemBur{
    height: 1vh;
    border-left: 1px black solid;
    border-bottom: 1px black solid;
}

